@import "/variables";
@import "./screen";
@import "./react-dates";

html {
  min-height: 100%;
}

html,
body,
#app,
.app,
.app > div {
  flex-direction: column;
  flex: 1;
  display: flex;
}

.app {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: $gray-dark;
  min-width: 1180px;

  &-logo {
    height: 80px;
  }
  &-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  &-intro {
    font-size: large;
  }
}

.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  white-space: inherit;
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 1;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

.design-checkbox > div > div > div > span, .design-radio-button > div > div > div > span {
  top: -9px !important;
  left: -10px !important;
}

.flex {
  display: flex;
  &-wrap {
    &-wrap {
      flex-wrap: wrap;
    }
  }
  &-direction-column {
    flex-direction: column;
  }
  &-direction-row {
    flex-direction: row;
  }
  &-grow {
    flex-grow: 1;
  }
  &-align-items {
    &-center {
      align-items: center;
    }
    &-flex-end {
      align-items: flex-end;
    }
  }

  &-justify-content {
    &-space-between {
      justify-content: space-between;
    }
    &-flex-start {
      justify-content: flex-start;
    }
    &-flex-end {
      justify-content: flex-end;
    }
    &-center {
      justify-content: center;
    }
  }
}

.w100 {
  width: 100%;
}

.position-relative {
  position: relative;
}

.flex-page-content {
  padding: 28px;
  flex: 1;
}

.flex-page-footer {

}

.minh {
  min-height: 100%;
}

.text {
  &-right {
    text-align: right
  }
  &-center {
    text-align: center
  }
}

.uppercase {
  text-transform: uppercase;
}

.inline-block {
  display: inline-block;
}

input:focus, button:focus {
  outline: none;
}