$white: #FFF;
$gray-lightest: #F5F5F5;
$gray-light: #f0f0f0;
$gray: #EBEBEB;
$gray-150: #969696;
$gray-dark: #212121;
$gray-text: #4a4a4a;
$loading-anim-from: #aaa;
$loading-anim-to: #bbb;
$loading-data-from: #ccc;
$loading-data-to: #eee;

$navbar-height: 64px;
$footer-height: 37px;

$brand-primary: #04B9E6;
$brand-success: #83C733;
$brand-warning: #f6a623;
$brand-danger: #f44336;
$text-muted: #afafaf;

$screen-xs: 768px;
$screen-sm: 992px;
$screen-md: 1280px;
$screen-lg: 1440px;
